@import 'src/variables';

.empty-feed-wrap {
  margin-top: 80px;
  margin-bottom: 8px !important;

  .headers-wrap {
    line-height: 24px;
  }

  .empty-center {
    text-align: center;
    padding: 0 60px;
    align-self: center;

    .header,
    .subheader {
      font-size: 18px;
      color: $text-color;
      font-weight: 200;
    }

    .middle-btn {
      margin-top: 25px;
      margin-bottom: 81px;
    }

    .bottom-btn {
      font-size: 14px;
      color: $primary-color;
      font-weight: 500;
    }
  }

  &.mobile {
    .empty-center {
      padding: 0;
    }
  }
}
